name: Generate GitHub Stats
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Generate Stats Card
        uses: cicirello/user-statistician@v1
        with:
          image-file: stats.svg
          include-title: false
          colors: dark
        env:
          GITHUB_TOKEN: ${{ secrets.METRICS_TOKEN }}
