name: Generate GitHub Metrics

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate GitHub Stats
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: bodasaieswar
          template: classic
          base: header, activity, community, repositories, metadata
          base_indepth: yes

          filename: github-stats.svg

          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
